{% include "header.html" %}

  <!-- Page Header -->
  <header class="masthead" style="background-image: url({{ url_for('static', filename='img/paris.jpg')}})">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>Only for Tory</h1>
            <span class="subheading">Daily reminder that I love you ❤️</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <p>Cuz I need you like the flowers need the rain</p>
        <p>I need you like the sun when the clouds turn grey</p>
        <p>Oh you're like the blood running through my veins</p>
        <p>I'll love you until now and forever away</p>
        <p>Sometimes I feel so lonely</p>
        <p>Feels like there is no one around to hold me</p>
        <p>And my head gets dark and heavy</p>
        <p>But then I see your face</p>
        <p>And I can only hope for the best</p>
        <p>And I can only breathe with my chest</p>
      </div>
    </div>
  </div>

  <hr>

  {% include "footer.html" %}